@mixin av-button-mixin($theme) {
  .av-link {
    font-family: map-get($theme, font-family-ui);
    font-size: map-get($theme, button-font-size);
    font-weight: map-get($theme, button-font-weight);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    color: map-get($theme, primary-color);

    &:hover {
      color: lighten(map-get($theme, primary-color), 10%);
    }
  }

  // Base Styles
  .av-button {
    box-sizing: border-box;
    box-sizing: border-box;
    min-width: map-get($theme, button-min-width);
    padding: 0 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #FFF;
    background-color: map-get($theme, primary-color);
    border-radius: map-get($theme, border-radius-base);
    border: none;
    box-shadow: map-get($theme, button-shadow);
    font-family: map-get($theme, font-family-ui);
    font-size: map-get($theme, button-font-size);
    font-weight: map-get($theme, button-font-weight);
    line-height: map-get($theme, button-height);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    // Main content
    .av-button-content {
      display: inline-block;
      transition: transform .2s ease-out, opacity .2s ease-out;

      // Hidden state
      &.hidden-state {
        opacity: 0;
        transform: translateX(-10px);
      }

      // Loading state
      &.hidden-loading {
        opacity: 0;
        transform: scale(0.5);
      }
    }

    &.alternate-state,
    &.alternate-state:hover,
    &.alternate-state:disabled {
      box-shadow: none;
      line-height: calc(#{map-get($theme, button-height)} - 2px);
      cursor: default;
    }

    .button-loading-state {
      width: 100%;
      height: calc(#{map-get($theme, button-height)} - 2px);
      margin-left: -20px;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0px;

      .av-spinner {
        margin: auto;
      }
    }

    // Alternate state content
    .button-state-container {
      width: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      background-color: lighten(map-get($theme, primary-color), 2%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }


  // Hollow Variation
  .av-button.hollow {
    color: map-get($theme, primary-color);
    background-color: transparent;
    border: 1px solid map-get($theme, primary-color);
    box-shadow: none;
    line-height: calc(#{map-get($theme, button-height)} - 2px);

    &:hover {
      color: lighten(map-get($theme, primary-color), 15%);
      border: 1px solid lighten(map-get($theme, primary-color), 15%);
    }
  }


  // Flat Variation
  .av-button.flat {
    border: none;
    box-shadow: none;
    line-height: map-get($theme, button-height);
  }


  // Long Variation
  .av-button.long {
    width: 100%;
  }

  // Smaller variation
  .av-button.small {
    font-size: map-get($theme, button-small-font-size);
    line-height: map-get($theme, button-small-height) - 2px;

    &.flat {
      line-height: map-get($theme, button-small-height);
    }

    .button-loading-state {
      height: calc(#{map-get($theme, button-small-height)} - 2px);
    }

    &.alternate-state,
    &.alternate-state:hover,
    &.alternate-state:disabled {
      box-shadow: none;
      line-height: calc(#{map-get($theme, button-small-height)} - 2px);
    }
  }


  // Theming
  @each $color in map-get($theme, color-palette) {
    $color-ref: #{$color}-color;

    .av-link.#{$color} {
      color: map-get($theme, $color-ref);
      
      &:hover {
        color: lighten(map-get($theme, $color-ref), 10%);
      }
    }

    .av-button.#{$color} {
      background-color: map-get($theme, $color-ref);
      
      &.alternate-state,
      &.alternate-state:hover,
      &.alternate-state:disabled {
        color: map-get($theme, $color-ref);
        background-color: rgba(map-get($theme, $color-ref), 0.25);
        border: 1px solid map-get($theme, $color-ref);
      }

      &:hover {
        background-color: lighten(map-get($theme, $color-ref), 4%);
      }
    }

    .av-button.hollow.#{$color} {
      color: map-get($theme, $color-ref);
      background: transparent;
      border: 1px solid map-get($theme, $color-ref);

      .av-ripple-enter {
        background: rgba(map-get($theme, $color-ref), 0.1);
      }

      &:hover {
        color: lighten(map-get($theme, $color-ref), 15%);
        border: 1px solid lighten(map-get($theme, $color-ref), 15%);
      }
    }

    .av-button.flat.#{$color} {
      color: map-get($theme, $color-ref);
      background: transparent;

      .av-ripple-enter {
        background: rgba(map-get($theme, $color-ref), 0.1);
      }

      &:hover {
        color: lighten(map-get($theme, $color-ref), 15%);
      }
    }
  }
}