$default-button-theme: (
  button-height: 36px,
  button-mobile-height: 40px,
  button-small-height: 28px,
  button-min-width: 100px,
  button-small-min-width: 100px,
  button-font-size: 11px,
  button-small-font-size: 10px,
  button-font-weight: 500,
  button-shadow: 0px 1px 3px rgba(#000, 0.2)
)